user index.html.haml
.center


  %h2 Users
  %ul
    %li
      %h4
        - @user.each do |f|
          %li
            = f.first_name.capitalize
            = f.last_name.capitalize
          %li
            = f.description.capitalize
          %hr
        -# = @activity.first.title
        -# = @activity.title.capitalize
        -# = @activity.category.capitalize
        -# = @activity.description.capitalize
