.center
  %h2 Users
  %hr
  %ul
    %li
      %h4
        - @user.each do |f|
          %li
            = f.first_name.capitalize
            = f.last_name.capitalize
          %li
            = f.description.capitalize

