%br
%br 
%br
%form
  .form-group
    %label{:for => "exampleInputName1"} Name
    %input#exampleInputName1.formcontrol{:placeholder => "Name", :type => "text"}
  .form-group
    %label{:for => "exampleInputUsername1"} Username
    %input#exampleInputUsername1.formcontrol{:placeholder => "Username", :type => "text"}  
    Date of Birth
    %input.datepicker{:type => "date"}
    %br
    %br
    %i.material-icons.prefix mode_edit
    About You
    %textarea#icon_prefix2.materialize-textarea
    %label{:for => "icon_prefix2"}  
  .form-group
    %label{:for => "exampleInputFile"} Import a Profile Picture
    %input#exampleInputFile{:type => "file"} 
    %label
    %br
    %br
  %button.btn.btn-default{:type => "submit"} Update
  %br
  %br
  %br
  %br





